#screen{
	-fx-background-color:#222222;
}

#menuBar{
	-fx-background-color:#292A2D;
}

.label{
	-fx-text-fill: white;
	-fx-font-size: 12.5px;
}

.menu, .menu-item, .context-menu{
	-fx-background-color:#292A2D;
}

.menu-item:focused, .menu-item:hover{
	-fx-background-color:#363636;
}

.menu-item:pressed{
	-fx-background-color:#4D4D4D;
}

.list-cell{
	-fx-background-color:#363636;
	-fx-text-fill: white;
}

#listViewAddButtons{
	-fx-background-color:#4aa863;
	-fx-text-fill: white;
}

#listViewRemoveButtons{
	-fx-background-color:#ba5252;
	-fx-text-fill: white;
}

#listViewSavePresetButtons{
	-fx-background-color:#696969;
	-fx-text-fill: white;
}

#fileListView{
	-fx-border-insets: 0px;
	-fx-border-width: 0px;
	-fx-padding: 0px;
	-fx-background-color:#363636;
}