#menuBar{
	-fx-background-color:#292A2D;
	
}

#borderPane{
	-fx-background-color: #222222;
}

.label{
	-fx-text-fill: white;
	-fx-font-size: 12.5px;
}

.menu, .menu-item, .context-menu{
	-fx-background-color:#292A2D;
}

.menu-item:focused, .menu-item:hover{
	-fx-background-color:#363636;
}

.menu-item:pressed{
	-fx-background-color:#4D4D4D;
}

.list-cell{
	-fx-background-color:#363636;
	-fx-text-fill: white;
	-fx-font-size: 15px;
}

.list-cell:filled:hover {
    -fx-background-color: #318bcc;
    -fx-text-fill: white;
}

.list-cell:selected {
    -fx-background-color: #236fa6;
    -fx-text-fill: white;
}

.label-menu-item .label{
      -fx-text-alignment:center; 
}

.label-menu-item .label .text{
      -fx-text-alignment:center; 
}

#DirectoryListView{
	-fx-border-insets: 0px;
	-fx-border-width: 0px;
	-fx-padding: 0px;
	-fx-background-color:#363636;
}

#presetListView{
	-fx-border-insets: 0px;
	-fx-border-width: 0px;
	-fx-padding: 0px;
	-fx-background-color:#363636;
}

#menuText {
	-fx-font-size: 20px;
}

.progress-bar > .bar{
	-fx-background-color: #432423;
}

#presetAddButton{
	-fx-background-color:#4D4D4D;
	-fx-text-fill: white;
}

#copyFilesButton{
	-fx-background-color:#38803f;
	-fx-text-fill: white;
}

.text-field{
	-fx-background-color: #575757;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

#progressBar{
	-fx-accent: #00FF00;
}
